@page
@model YallaMasar.Areas.Identity.Pages.Account.Manage.Provider.RegisterModel

@using Microsoft.AspNetCore.Mvc.Localization;
@using YallaMasar;

@inject IHtmlLocalizer<SharedResource> Localizer

@{
	ViewData["Title"] = "Register";
	ViewData["Image"] = "/img/register.svg";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="flex flex-col md:flex-row md:space-x-10 rtl:space-x-reverse space-y-4 md:space-y-0 flex-nowrap">
	<div class="w-full md:w-1/2">
		<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="flex flex-col space-y-4">
			<h2>
				Create a new account.
			</h2>

			<div asp-validation-summary="ModelOnly" class="text-red-500 text-sm"></div>

			<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
				<h3 class="md:col-span-2 text-2xl">
					@Localizer["Personal Info"]
				</h3>

				<hr class="md:col-span-2 mb-4 h-px mt-0 rtl:bg-gradient-to-l ltr:bg-gradient-to-r border-0 from-black via-transparent" />

				<div class="relative">
					<input asp-for="Input.Name" class="input peer" placeholder=" " autocomplete="Name"
						   aria-required="true" />
					<label asp-for="Input.Name" class="input-label"></label>
					<span asp-validation-for="Input.Name" class="text-red-500 text-sm"></span>
				</div>

				<div class="relative">
					<input asp-for="Input.PhoneNumber" class="input peer" placeholder=" " autocomplete="PhoneNumber"
						   aria-required="true" />
					<label asp-for="Input.PhoneNumber" class="input-label"></label>
					<span asp-validation-for="Input.PhoneNumber" class="text-red-500 text-sm"></span>
				</div>

				<div class="relative md:col-span-2">
					<input asp-for="Input.Email" class="input peer" placeholder=" " autocomplete="username"
						   aria-required="true" />
					<label asp-for="Input.Email" class="input-label"></label>
					<span asp-validation-for="Input.Email" class="text-red-500 text-sm"></span>
				</div>

				<div class="relative md:col-span-2">
					<textarea asp-for="Input.Description" class="input peer" placeholder=" " autocomplete="username" aria-required="true">
					</textarea>
					<label asp-for="Input.Description" class="input-label"></label>
					<span asp-validation-for="Input.Description" class="text-red-500 text-sm"></span>
				</div>
			</div>

			<button id="registerSubmit" type="submit" class="btn-primary">
				@Localizer["Register"]
			</button>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
